.button {
  border-radius: 6px;
  height: 60px;
  width: 300px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile) {
    width: 100%;
    height: 45px;
  }
}

.button-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  box-shadow: 2px 2px 4px rgba(45, 56, 65, 0.2);
}

.button-orange {
  border: 1px solid $flame;
  background-color: $flame;
  color: $white;
}

.button-orange:focus {
  border: 1px solid $button-orange-focus;
  background-color: $button-orange-focus;
  color: $white;
}

.button-orange:disabled {
  border: 1px solid $mist;
  background-color: $mist;
}

.button-small {
  justify-content: center;
  height: 45px;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid $capri;
  background: $capri;
  border-radius: 6px;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: 700;
  @extend .body-copy;

  @media (max-width: $mobile) {
    @include fieldset-label-mixin();
    padding: 0px 15px;
    height: 30px;
  }
}

.button-small:hover {
  box-shadow: 2px 2px 4px rgba(45, 56, 65, 0.2);
}

.button-small:focus {
  background: $blueprint;
}

.button-responsive-100 {
  width: 100%;
}

//Button Tab
.button-tab {
  @extend .body-copy;
  background: #ffffff;
  border: 1.5px solid $mist;
  box-sizing: border-box;
}

.button-tab-left {
  @extend .button-tab;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.button-tab-right {
  @extend .button-tab;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.button-tab:hover,
.button-tab.active {
  @extend .fieldset-body;
  background: $capri;
  border: 1.5px solid $capri;
  color: white;
}

//Links
.button-link {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
}

.button-link:hover,
.button-link:focus {
  color: $blueprint !important;
}

.button-link:disabled {
  color: $steel !important;
}

//////

.button-link-without-font-dark {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
  color: $blueprint;
}

.button-link-without-font-dark:hover,
.button-link-without-font-dark:focus {
  color: $deepSea !important;
}

.button-link-without-font-dark:disabled {
  color: $steel !important;
}

//////////

.button-link-without-font {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
  color: $linkColor;
}

.button-link-without-font:hover,
.button-link-without-font:focus {
  color: $blueprint !important;
}

.button-link-without-font:disabled {
  color: $steel !important;
}

/////////////7

.button-icon-content {
  background: transparent !important;
}

.button-icon {
  cursor: pointer;
  color: $wallStreet;
  background-color: transparent;
}

//////////////////////////777

.menu-button a {
  color: $wallStreet;
  text-decoration: none;
  display: block;
}

.menu-button a:active {
  color: $blueprint;
  background-color: $cloud;
  background: $cloud;
  display: block;
}

////////////////////////
.menu-footer-map {
  color: $blueprint;
  text-decoration: underline;
  font-family: $raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  cursor: pointer;
}

.menu-footer-map:hover,
.menu-footer-map:focus {
  color: $deepSea !important;
}

.menu-footer-map:disabled {
  color: $steel !important;
}

////////////////////
.button-link-landpage {
  color: $wallStreet;
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}
