.card {
  background: #ffffff;
  border: 1px solid $cloud;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15) !important;
  border-radius: $borderRadius !important;
  padding: 20px;
}
